@model globaljob.Models.Offre

@{
    ViewData["Title"] = "Details";
    globaljob.Controllers.CandidatureController.offreId = Model.Id;
}
<style>
.row{color:white;}
h1{color:white;}
h4{color:white;}
a{color:white;}
a:hover{color:white;}
</style>
<h1>Details</h1>

<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edit</a>
    <a asp-controller="Candidature" asp-action="Index"  class="btn btn-warning">Consulter Candidatures</a>
</div>
